<h1>List of books</h1>

<ul>
  {{#each listOfBooks}}
  <li>
    <a href="/books/{{this._id}}">
      {{this.title}}
    </a>
    (
    <a href="/books/{{this._id}}/edit">Edit</a>,
    <a href="/books/{{this._id}}/delete">Delete</a>
    )
  </li>
  {{/each}}
</ul>